.Executors {
    padding: 64px;
}

a {
    text-decoration: none;
}

.Executors .ant-card {
    margin-bottom: 16px;
}

.Executors-Item {
    padding: 16px;
    display: flex;
    flex-direction: row;

    margin-bottom: 16px;
}

.Executors-Image {
    margin-right: 32px;
    border-radius: 50%;
    height: 100px;
}

.Executors-Name {
    font-size: 24px;

    display: flex;
    justify-content: space-between;
}

.Executors-Skills {
    margin-top: 8px;
}

.Executors-Select {
    margin-bottom: 16px;
}